{% extends "template.html" %}
{% block content %}

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Settings</h2>
							<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Connexions</h3>
								{% if trloginfail and not trlogin %}
								<h4><font color="red">Invalid Trello token !</font></h4>
								{% endif %}
								<p>Trello :
								{% if trlogin %}
								<font color="green">Connected</font></p>
								<a href="{{ url_for('trlogout')}}" class="button">Disconnect</a>
								{% else %}
								<font color="red">Disconnected</font></p>
								<p><a href="https://trello.com/1/authorize?expiration=never&name=Cyberplanificateur&scope=read,write&response_type=token&key=4b9aa97a8ec693574d819aeaf9e0eefa&return_url=https://cyberplanificateur.flifloo.fr/settings">Click here</a> and give the token bellow</p>
								<form action = "https://cyberplanificateur.flifloo.fr/settings" method = "POST">
									<input type="text" name="trtoken" placeholder="Trello token" />
									<input type="submit" value="Connect" class="button primary">
								</form>
								{% endif %}

							</div>
						</section>
					</article>

{% endblock %}
