{% extends "template.html" %}
{% block content %}

<!-- Main -->
	<article id="main">
		<header>
			<h2>Settings</h2>
			<p>Account settings of Cyberplanificateur</p>
		</header>
		<section class="wrapper style5">
			<div class="inner">

				<h3>Connexions</h3>
				<p>Twitter :
				{% if current_user.twitter_api.first() %}
				<font color="green">Connected</font></p>
				<a href="{{ url_for('twlogout') }}" class="button">Disconnect</a>
				{% else %}
				<font color="red">Disconnected</font></p>
				<a href="{{ url_for('twlogin') }}" class="button primary">Connect</a>
				{% endif %}
				<p>Trello :
				{% if current_user.trello_api.first() %}
				<font color="green">Connected</font></p>
				<a href="{{ url_for('trlogout') }}" class="button">Disconnect</a>
				{% else %}
				<font color="red">Disconnected</font></p>
				<p><a href="{{ url_for('trlogin') }}">Click here</a> and give the token bellow</p>
				<form action = "" method = "POST" novalidate>
					{{ form.hidden_tag() }}
					<p>
						{{ form.token.label }}
						{{ form.token(size=64) }}
						{% for error in form.token.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>{{ form.submit() }}</p>
				</form>
				{% endif %}

			</div>
		</section>
	</article>

{% endblock %}
